body{
    background-color: rgba(216, 119, 119, 0.3);
}

.container{
    background-color: rgba(216, 119, 119, 0.6);
    height: 400px;
    width: 300px;
    margin:5px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}